@media all and (max-width:800px) {
    * { margin: 0px; padding:0px;}


    body{ 
        font-size: 10pt;
        color: #333;
        background: #e9e5e5;
    }
    .mySwiper {
        display: none;
      
    }

    /*---- 시작------*/


    .top_header_wrap {
        position: relative;
        display: flex;
        width: 390px;
        height: 130px;
        justify-content: center;
        align-items: center;  
    }
    .top_header_inner {
       display: none;
    }
    .logo_wrap {
        position: absolute;
        display: flex;
        width: 250px;
        height: 100px;
    }
        .logo_m {
            position: absolute;
            display: flex;
            width: 250px;
            height: 100px;
            filter: invert(1);

        }

       
}